.portfolio {
    .swiper-container-lg {overflow: hidden !important;}
    margin-bottom: 50px;
    @include point(769) {
        margin-bottom: 30px;
    }
    @include point(501) {
        margin-bottom: 20px;
    }
    h2 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 50px;
        @include point(769) {
            margin-bottom: 30px;
            font-size: 26px;
        }
        @include point(501) {
            margin-bottom: 20px;
            font-size: 24px;
        }
    }
    &__item {
        width: 100%;
        height: 270px;
        position: relative;
        cursor: pointer;
        transition: .2s linear;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        &::after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($black, .7);
            width: 100%;
            height: 100%;
            transition: .2s linear;
        }
        &:hover::after {
            background: rgba($black, .3);
        }
        &:hover {
            box-shadow: 0 2px 10px rgba($accent, .7);
        }
    }
    &__link {
        display: block;
        color: $wh;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 22px;
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 999;
        &::after {
            display: block;
            content: '';
            background: $wh;
            width: 20%;
            height: 1px;
            margin-top: 5px;
            transition: .2s linear;
        }
        &:hover::after {
            width: 100%;
        } 
        @include point(769) {
            font-size: 18px;
            bottom: 20px;
            left: 20px;
        }
        @include point(501) {
            font-size: 16px;
            bottom: 10px;
            left: 10px;
        }
    }
    &__cubics {
        display: flex;
        column-gap: 5px;
        &-item {
            width: 16px;
            height: 16px;
            background: $second;
            &:first-child {
                background: $accent;
            }
        }
    }
}
