// COLORS
$text: #282828;
$accent: #f11f6e;
$second: #7b7b7b;
$bg: #fafafa;
$wh: #ffffff;
$modal: #192541;
// MIXIN
@mixin formsEn {
    display: none;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
    input {
        padding: 10px 20px;
        border: 1px solid rgba($second, .3);
        outline: none;
        border-radius: 5px;

        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: $accent;
        @include point(769) {
            max-width: 340px;
        }
        @include point(501) {
            max-width: 240px;
        }
        &::placeholder {
            font-family: 'Ubuntu', sans-serif;
            font-size: 13px;
            font-weight: 300;
            color: rgba($second, .7);
        }
    }
}