@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-300.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-300.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-500.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-700.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-900.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-900.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/ubuntu/ubuntu-v15-latin_cyrillic-300.woff") format("woff"), url("../fonts/ubuntu/ubuntu-v15-latin_cyrillic-300.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/ubuntu/ubuntu-v15-latin_cyrillic-500.woff") format("woff"), url("../fonts/ubuntu/ubuntu-v15-latin_cyrillic-500.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/ubuntu/ubuntu-v15-latin_cyrillic-700.woff") format("woff"), url("../fonts/ubuntu/ubuntu-v15-latin_cyrillic-700.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/ubuntu/ubuntu-v15-latin_cyrillic-regular.woff") format("woff"), url("../fonts/ubuntu/ubuntu-v15-latin_cyrillic-regular.woff2") format("woff2");
  font-display: swap; }
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/kaushan/kaushan-script-v9-latin-regular.woff") format("woff"), url("../fonts/kaushan/kaushan-script-v9-latin-regular.woff2") format("woff2");
  font-display: swap; }
#engName {
  display: none; }

#orderSendEn {
  display: none; }

.modal__formEn {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px; }
  .modal__formEn input {
    padding: 10px 20px;
    border: 1px solid rgba(149, 149, 149, 0.3);
    outline: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #e5493a; }
    @media only screen and (max-width: 769px) {
      .modal__formEn input {
        max-width: 340px; } }
    @media only screen and (max-width: 501px) {
      .modal__formEn input {
        max-width: 240px; } }
    .modal__formEn input::-webkit-input-placeholder {
      font-family: 'Ubuntu', sans-serif;
      font-size: 13px;
      font-weight: 300;
      color: rgba(149, 149, 149, 0.7); }
    .modal__formEn input:-ms-input-placeholder {
      font-family: 'Ubuntu', sans-serif;
      font-size: 13px;
      font-weight: 300;
      color: rgba(149, 149, 149, 0.7); }
    .modal__formEn input::-ms-input-placeholder {
      font-family: 'Ubuntu', sans-serif;
      font-size: 13px;
      font-weight: 300;
      color: rgba(149, 149, 149, 0.7); }
    .modal__formEn input::placeholder {
      font-family: 'Ubuntu', sans-serif;
      font-size: 13px;
      font-weight: 300;
      color: rgba(149, 149, 149, 0.7); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  background-color: #252525;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.2; }

.container {
  max-width: 1130px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.wrapper {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  min-height: 700px;
  height: 100vh;
  background: #252525; }

.wrapper-lg {
  min-height: 750px; }
  @media only screen and (min-width: 769px) {
    .wrapper-lg {
      min-height: 900px; } }

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 1.2; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.2; }

h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #959595; }

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2; }

.circle {
  position: absolute;
  right: 0%;
  bottom: 10%;
  z-index: 0;
  -webkit-animation: circle-animate linear infinite alternate 25s;
          animation: circle-animate linear infinite alternate 25s; }
  @media only screen and (max-width: 769px) {
    .circle {
      width: 350px;
      right: -5%;
      bottom: 5%; } }
  @media only screen and (max-width: 500px) {
    .circle {
      width: 250px; } }
  .circle-menu {
    display: none; }
    @media only screen and (max-width: 769px) {
      .circle-menu {
        display: block;
        position: absolute;
        top: 10%;
        left: 5%;
        width: 120px;
        -webkit-animation: circle-animate-menu linear infinite alternate 15s;
                animation: circle-animate-menu linear infinite alternate 15s; } }

@-webkit-keyframes circle-animate {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0); }
  25% {
    -webkit-transform: rotate(90deg) translate(40px, 40px);
            transform: rotate(90deg) translate(40px, 40px); }
  50% {
    -webkit-transform: rotate(180deg) translate(80px, 80px);
            transform: rotate(180deg) translate(80px, 80px); }
  100% {
    -webkit-transform: rotate(270deg) translate(40px, 40px);
            transform: rotate(270deg) translate(40px, 40px); } }

@keyframes circle-animate {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0); }
  25% {
    -webkit-transform: rotate(90deg) translate(40px, 40px);
            transform: rotate(90deg) translate(40px, 40px); }
  50% {
    -webkit-transform: rotate(180deg) translate(80px, 80px);
            transform: rotate(180deg) translate(80px, 80px); }
  100% {
    -webkit-transform: rotate(270deg) translate(40px, 40px);
            transform: rotate(270deg) translate(40px, 40px); } }
@-webkit-keyframes circle-animate-menu {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0); }
  25% {
    -webkit-transform: rotate(90deg) translate(10px, 10px);
            transform: rotate(90deg) translate(10px, 10px); }
  50% {
    -webkit-transform: rotate(180deg) translate(20px, 20px);
            transform: rotate(180deg) translate(20px, 20px); }
  100% {
    -webkit-transform: rotate(270deg) translate(10px, 10px);
            transform: rotate(270deg) translate(10px, 10px); } }
@keyframes circle-animate-menu {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
            transform: rotate(0deg) translate(0, 0); }
  25% {
    -webkit-transform: rotate(90deg) translate(10px, 10px);
            transform: rotate(90deg) translate(10px, 10px); }
  50% {
    -webkit-transform: rotate(180deg) translate(20px, 20px);
            transform: rotate(180deg) translate(20px, 20px); }
  100% {
    -webkit-transform: rotate(270deg) translate(10px, 10px);
            transform: rotate(270deg) translate(10px, 10px); } }
.me {
  position: absolute;
  bottom: 0;
  right: 0%;
  z-index: 1; }
  @media only screen and (max-width: 1024px) {
    .me {
      width: 350px;
      right: -5%; } }
  @media only screen and (max-width: 769px) {
    .me {
      width: 300px;
      right: -5%; } }
  @media only screen and (max-width: 500px) {
    .me {
      width: 200px;
      right: -10%; } }

.point {
  display: none;
  width: 30px;
  height: 30px;
  background: #e5493a;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  position: absolute;
  bottom: 3%;
  left: 1%;
  cursor: pointer;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  -webkit-animation: point-left 1s alternate infinite ease-in-out;
          animation: point-left 1s alternate infinite ease-in-out; }
  @media only screen and (max-width: 769px) {
    .point {
      display: block; } }
  .point img {
    height: 100%;
    display: none;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
    -webkit-transition: 1s linear;
    transition: 1s linear; }
  .point p {
    display: none;
    color: #ffffff;
    position: absolute;
    top: 60%;
    left: 25%;
    font-size: 22px; }
  .point:hover {
    width: 300px;
    height: 200px; }
    .point:hover img {
      display: block; }
    .point:hover p {
      display: block; }

@-webkit-keyframes point-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(7px);
            transform: translateX(7px); } }

@keyframes point-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(7px);
            transform: translateX(7px); } }
.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background: rgba(32, 32, 32, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .modal__order {
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: #252525;
    -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
            box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
    width: 500px;
    height: 400px;
    border-radius: 10px;
    -webkit-animation: order-up 1s;
            animation: order-up 1s; }
    @media only screen and (max-width: 769px) {
      .modal__order {
        width: 400px;
        height: 430px; } }
    @media only screen and (max-width: 501px) {
      .modal__order {
        width: 300px;
        height: 360px; } }
  .modal__close {
    position: absolute;
    top: -25px;
    right: -50px;
    width: 35px;
    height: 15px;
    z-index: 10; }
    @media only screen and (max-width: 501px) {
      .modal__close {
        top: -40px;
        right: 0; } }
    .modal__close span {
      display: block;
      background: #ffffff;
      width: 100%;
      height: 1px;
      position: absolute;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .modal__close span:nth-child(1) {
        top: 50%;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .modal__close span:nth-child(2) {
        bottom: 50%;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .modal__close:hover span {
      background: #e5493a; }
      .modal__close:hover span:nth-child(1) {
        -webkit-transform: rotate(55deg);
                transform: rotate(55deg); }
      .modal__close:hover span:nth-child(2) {
        -webkit-transform: rotate(-35deg);
                transform: rotate(-35deg); }
  .modal__connect {
    width: 100%;
    height: 100%; }
    .modal__connect h2 {
      font-weight: 400;
      color: #e5493a;
      margin-bottom: 20px; }
      @media only screen and (max-width: 501px) {
        .modal__connect h2 {
          font-size: 18px;
          margin-bottom: 10px; } }
    .modal__connect p {
      font-weight: 400;
      margin-bottom: 25px; }
      @media only screen and (max-width: 501px) {
        .modal__connect p {
          font-size: 14px;
          margin-bottom: 15px; } }
  .modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px; }
    .modal__form input {
      padding: 10px 20px;
      border: 1px solid #959595;
      outline: none;
      border-radius: 5px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #e5493a;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .modal__form input:hover, .modal__form input:focus {
        border: 1px solid #e5493a; }
      @media only screen and (max-width: 769px) {
        .modal__form input {
          max-width: 340px; } }
      @media only screen and (max-width: 501px) {
        .modal__form input {
          max-width: 240px; } }
      .modal__form input::-webkit-input-placeholder {
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        font-weight: 300;
        color: #959595; }
      .modal__form input:-ms-input-placeholder {
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        font-weight: 300;
        color: #959595; }
      .modal__form input::-ms-input-placeholder {
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        font-weight: 300;
        color: #959595; }
      .modal__form input::placeholder {
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        font-weight: 300;
        color: #959595; }
  .modal__send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 769px) {
      .modal__send {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 10px; } }
    .modal__send button {
      padding: 15px 30px;
      background: transparent;
      border: 2px solid #e5493a;
      border-radius: 5px;
      outline: none;
      font-family: 'Montserrat', sans-serif;
      color: inherit;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .modal__send button:hover, .modal__send button:focus {
        color: #ffffff;
        background: #e5493a; }
      @media only screen and (max-width: 501px) {
        .modal__send button {
          padding: 5px 10px;
          font-size: 14px; } }
    .modal__send-contact a {
      display: block;
      text-decoration: none;
      color: #ffffff;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .modal__send-contact a:hover, .modal__send-contact a:focus, .modal__send-contact a:active {
        color: #e5493a; }
      @media only screen and (max-width: 501px) {
        .modal__send-contact a {
          text-align: center;
          font-size: 12px; } }
  .modal.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999; }

@-webkit-keyframes order-up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes order-up {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
#engName {
  display: none; }

.header {
  padding: 30px 0 0 0; }
  @media only screen and (max-width: 769px) {
    .header {
      padding: 20px 0 0 0; } }
  .header__inner {
    padding: 20px;
    background-color: #252525;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
            box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 501px) {
      .header__inner {
        padding: 10px; } }
  .header__logo {
    font-family: 'Kaushan Script';
    font-size: 28px;
    margin-right: 60px;
    cursor: default; }
    @media only screen and (max-width: 501px) {
      .header__logo {
        font-size: 18px;
        white-space: nowrap; } }
    .header__logo span:nth-child(1) {
      color: #e5493a; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    position: relative; }
    @media only screen and (max-width: 769px) {
      .header__nav {
        display: none; } }
    .header__nav a {
      text-decoration: none;
      color: inherit;
      font-weight: 500;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .header__nav a:hover:nth-child(-n+2) {
        color: #e5493a; }
    .header__nav.active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      row-gap: 15px;
      padding: 20px 35px 20px 0;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100%;
      background: #252525;
      -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
              box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
      z-index: 999;
      -webkit-animation: burger-menu .5s ease-out;
              animation: burger-menu .5s ease-out; }
      .header__nav.active a {
        font-size: 18px; }
      @media only screen and (min-width: 501px) {
        .header__nav.active {
          top: 120px; } }
@-webkit-keyframes burger-menu {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@keyframes burger-menu {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
  .header__burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    margin-left: 30px;
    cursor: pointer; }
    @media only screen and (max-width: 501px) {
      .header__burger {
        margin-left: 15px; } }
    .header__burger span {
      width: 100%;
      height: 1px;
      background: #e5493a;
      position: absolute;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      .header__burger span:nth-child(1) {
        top: 0; }
      .header__burger span:nth-child(2) {
        top: 50%; }
      .header__burger span:nth-child(3) {
        top: 100%; }
    @media only screen and (max-width: 769px) {
      .header__burger {
        display: block; } }
    .header__burger.active span:nth-child(1) {
      top: 50%;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header__burger.active span:nth-child(2) {
      opacity: 0; }
    .header__burger.active span:nth-child(3) {
      top: 50%;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .header--portfolio {
    padding: 9px 18px;
    border-radius: 10px;
    color: #ffffff !important;
    background-color: #e5493a;
    border: 1px solid #e5493a;
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    .header--portfolio:hover {
      color: #ffffff !important;
      background-color: transparent; }
    @media only screen and (max-width: 769px) {
      .header--portfolio {
        padding: 7px 15px; } }
  .header__lang {
    margin-left: auto; }
    .header__lang button {
      background: transparent;
      border: none;
      outline: none;
      font-family: 'Montserrat', sans-serif;
      color: inherit;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      margin-right: 5px;
      -webkit-transition: color .2s linear;
      transition: color .2s linear; }
      @media only screen and (max-width: 501px) {
        .header__lang button {
          font-size: 14px;
          margin-right: 0; } }
      .header__lang button:last-child {
        margin-right: 0; }
      .header__lang button:hover {
        color: #e5493a; }
    .header__lang.active {
      color: #e5493a !important; }

.home {
  padding: 175px 0 0 0; }
  @media only screen and (max-width: 769px) {
    .home {
      padding: 100px 0 0 0; } }
  @media only screen and (max-width: 501px) {
    .home {
      padding: 50px 0 0 0; } }
  .home__about {
    position: relative;
    z-index: 100; }
    .home__about h4 {
      font-size: 16px;
      margin-bottom: 20px;
      z-index: 3; }
      @media only screen and (max-width: 501px) {
        .home__about h4 {
          font-size: 14px;
          margin-bottom: 10px; } }
    .home__about h1 {
      min-height: 60px;
      margin-bottom: 20px;
      width: 800px; }
      @media only screen and (max-width: 769px) {
        .home__about h1 {
          font-size: 40px;
          min-height: 72px;
          width: 500px; } }
      @media only screen and (max-width: 501px) {
        .home__about h1 {
          font-size: 30px;
          margin-bottom: 10px;
          width: 300px; } }
      .home__about h1 span {
        color: #e5493a; }
    .home__about p {
      font-size: 20px;
      margin-bottom: 50px;
      z-index: 3; }
      @media only screen and (max-width: 769px) {
        .home__about p {
          font-size: 18px;
          margin-bottom: 30px; } }
      @media only screen and (max-width: 501px) {
        .home__about p {
          font-size: 16px;
          margin-bottom: 20px; } }
      .home__about p span {
        color: #e5493a;
        font-weight: 400; }
  .home__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    margin-bottom: auto;
    z-index: 100;
    position: relative; }
    @media only screen and (max-width: 769px) {
      .home__contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        row-gap: 15px; } }
    .home__contact button {
      display: inline-block;
      padding: 15px 30px;
      background: transparent;
      border: 2px solid #e5493a;
      border-radius: 10px;
      outline: none;
      font-family: 'Montserrat', sans-serif;
      color: inherit;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      @media only screen and (max-width: 501px) {
        .home__contact button {
          padding: 10px 25px;
          font-size: 14px; } }
      .home__contact button:hover, .home__contact button:focus {
        color: #ffffff;
        background: #e5493a; }
    .home__contact a {
      text-decoration: none;
      color: #ffffff;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      @media only screen and (max-width: 501px) {
        .home__contact a {
          font-size: 14px; } }
      .home__contact a:hover, .home__contact a:focus, .home__contact a:active {
        color: #e5493a; }
  .home__social {
    position: absolute;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    z-index: 100; }
    .home__social p {
      font-weight: 400; }
      @media only screen and (max-width: 501px) {
        .home__social p {
          font-size: 14px; } }
    .home__social a {
      text-decoration: none;
      color: rgba(149, 149, 149, 0.5);
      font-size: 19px; }
      @media only screen and (max-width: 501px) {
        .home__social a {
          font-size: 16px; } }
      .home__social a:hover .home__social-icon {
        color: rgba(229, 73, 58, 0.7); }
    .home__social-icon {
      vertical-align: middle;
      -webkit-transition: .2s linear;
      transition: .2s linear; }

.service {
  margin-bottom: 50px; }
  @media only screen and (max-width: 769px) {
    .service {
      margin-bottom: 30px; } }
  @media only screen and (max-width: 501px) {
    .service {
      margin-bottom: 20px; } }
  .service h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px; }
    @media only screen and (max-width: 769px) {
      .service h2 {
        margin-bottom: 30px;
        font-size: 26px; } }
    @media only screen and (max-width: 501px) {
      .service h2 {
        margin-bottom: 20px;
        font-size: 24px; } }
  .service__item {
    padding: 20px;
    max-width: 100%;
    height: 190px;
    border-radius: 10px;
    background: #252525;
    -webkit-box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
            box-shadow: 0 3px 10px rgba(255, 255, 255, 0.3);
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    .service__item-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: 40px;
              column-gap: 40px;
      margin-bottom: 25px; }
      @media only screen and (max-width: 769px) {
        .service__item-title {
          -webkit-column-gap: 30px;
                  column-gap: 30px; } }
      @media only screen and (max-width: 501px) {
        .service__item-title {
          -webkit-column-gap: 20px;
                  column-gap: 20px; } }
      .service__item-title img {
        width: 50px; }
      .service__item-title h3 {
        font-size: 20px;
        font-weight: 500; }
        @media only screen and (max-width: 769px) {
          .service__item-title h3 {
            font-size: 18px; } }
    @media only screen and (max-width: 769px) {
      .service__item-desc {
        font-size: 14px; } }
    .service__item:hover {
      -webkit-box-shadow: 0 3px 10px rgba(229, 73, 58, 0.7);
              box-shadow: 0 3px 10px rgba(229, 73, 58, 0.7); }

.swiper-container {
  padding: 10px !important; }

.swiper-pagination {
  position: relative !important;
  margin-top: 30px !important; }

.portfolio {
  margin-bottom: 50px; }
  .portfolio .swiper-container-lg {
    overflow: hidden !important;
    padding: 10px; }
  @media only screen and (max-width: 769px) {
    .portfolio {
      margin-bottom: 30px; } }
  @media only screen and (max-width: 501px) {
    .portfolio {
      margin-bottom: 20px; } }
  .portfolio h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px; }
    @media only screen and (max-width: 769px) {
      .portfolio h2 {
        margin-bottom: 30px;
        font-size: 26px; } }
    @media only screen and (max-width: 501px) {
      .portfolio h2 {
        margin-bottom: 20px;
        font-size: 24px; } }
  .portfolio__item {
    width: 100%;
    height: 270px;
    position: relative;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 10px rgba(149, 149, 149, 0.7);
            box-shadow: 0 3px 10px rgba(149, 149, 149, 0.7);
    -webkit-transition: .2s linear;
    transition: .2s linear; }
    .portfolio__item img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: top;
         object-position: top; }
    .portfolio__item::after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(37, 37, 37, 0.5);
      width: 100%;
      height: 70px;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
      @media only screen and (max-width: 769px) {
        .portfolio__item::after {
          height: 55px; } }
      @media only screen and (max-width: 501px) {
        .portfolio__item::after {
          height: 45px; } }
    .portfolio__item:hover {
      -webkit-box-shadow: 0 3px 10px rgba(229, 73, 58, 0.7);
              box-shadow: 0 3px 10px rgba(229, 73, 58, 0.7); }
  .portfolio__link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 999; }
    .portfolio__link::after {
      display: block;
      content: '';
      background: #ffffff;
      width: 21%;
      height: 1px;
      margin-top: 5px;
      -webkit-transition: .2s linear;
      transition: .2s linear; }
    .portfolio__link:hover::after {
      width: 100%; }
    @media only screen and (max-width: 769px) {
      .portfolio__link {
        font-size: 18px;
        bottom: 15px;
        left: 15px; } }
    @media only screen and (max-width: 501px) {
      .portfolio__link {
        font-size: 16px;
        bottom: 10px;
        left: 10px; } }
  .portfolio__cubics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 5px;
            column-gap: 5px; }
    .portfolio__cubics-item {
      width: 16px;
      height: 16px;
      background: #959595; }
      .portfolio__cubics-item:first-child {
        background: #e5493a; }

/*# sourceMappingURL=main.css.map */